.inspo{
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    flex-direction: wrap;
    height: 100%;
}
.inspo .backgro{
    
    border-color: rgba(255, 255, 255, 0.1);
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: #f39a8e;
    
}
.right h2{
    font-size: 2.0rem;
    color: black;
}
.right h1{
    font-size: 3.5rem;
    color: black;
}
.left h1{
    font-size: 3.5rem;
}
.left h2{
    font-size: 2.0rem;
}
.inspo .baack{
    border-color: rgba(255, 255, 255, 0.1);
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: #85cbda;
    
}
.inspo .left{
    max-width: 700px;
    padding: 3rem;
}
.inspo .right{
    padding: 3rem;
    max-width: 700px;
}